params {
    outdir = "$projectDir/path/to/output_folder"
    data_dir = "$projectDir/path/to/sequencing_reads"
    genome = "$projectDir/path/to/genome.fna"
    annot = "$projectDir/path/to/genome_annotation.gff"
    mRNA = "$projectDir/path/to/mRNA.fna"
    // provide design file as tsv
    design = "$projectDir/path/to/design.tsv"
    // check https://rnabio.org/module-09-appendix/0009/12/01/StrandSettings/ for strandedness settings to use
    // use "rf" for fr-firststrand, "fr" for fr-secondstrand, "un" for unstranded
    strand = "rf"
    // use "se" for single-end reads, "pe" for paired-end reads
    singleEnds = false
    // specify weight for weighted Youden's Index to determine optimal cutoff 
    weight = 0.5
    // set number of cpus for individual processes
    cpu_ind = 4
}

executor.$local.cpus = 12
